@{
  Layout = "_Layout";
}

@*@model ForcedFriends.Models.Movie*@
@using ForcedFriends.Models;
@using System.Security.Claims;

<div class="watchlist-container">
  <div><img src="~/img/yourMovies.png" class="your-movies" />
</div>

<div class="logo-parent">
  @* <a href="@Url.Action("Index", "Account")"> *@
  <img class="logo-ball" src="~/img/smallLogo.png"> 
</div>

<div class="page-content">
    @if (User.Identity.IsAuthenticated)
    {
      @if(@Model.Count == 0)
        {
          <div class="content-container"> 
            <div class="card">
              <div class="card-body">
                <div>There are no movies in your watchlist!</div>
              </div>
            </div>
          </div>
        }
        else
        {
          <div class="movie-container">
          @foreach(var movie in Model)
          {
            <div class="each-movie">
              <a href="@Url.Action("Details", "Movies", new { id = movie.MovieId })">
                <img class="movie-tile" src="https://image.tmdb.org/t/p/w1280/@movie.Movie.Poster_Path"> 
              </a>
                @using (Html.BeginForm("DeleteMovie", "Movies"))
                {
                  @Html.Hidden("joinId", (int)@movie.ApplicationUserMovieId)
                  <input class="editButton" type="submit" value="Delete"/>
                }
            </div>
          }
        </div>
      }
    }
</div>
