@{
    ViewData["Title"] = "Home Page";
}
<div class="page-content">
  <div class="movie-container">
    @foreach (Movie movie in Model)
    {
      <div>
        <a href="@Url.Action("Details", "Movies", new { id = movie.Id })">
        <img class="movie-tile" src="https://image.tmdb.org/t/p/w1280/@movie.Poster_Path"> 
        </a>
      </div>
    }
  </div>
<div>