@{
  Layout = "_Layout";
}

@using ForcedFriends.ViewModels

@model LoginViewModel

@using (Html.BeginForm())
{
  <div class="content-container">
    <div class="form-group">
      @Html.TextBoxFor(m => m.UserName, new {@class= "form-control", placeholder = "Username", required = "required"})
    </div>
    <div class="form-group">
      @Html.PasswordFor(m => m.Password, new {@class= "form-control", placeholder = "Password", required = "required"})
    </div>
    <div class="form-group">
      <input type="submit" value="Log in" class="btn btn-primary" />
    </div>
  </div>
}