@{
  Layout = "_Layout";
}
@using ForcedFriends.Models

@foreach(ApplicationUser user in Model)
{
 <li>@Html.ActionLink($"{user.UserName}", "Details", new { id = user.Id}) - Movie matches: @user.MatchCount</li>
}