@{
  Layout = "_Layout";
}
<div class="row justify-content-md-center">
  <div class="col-4">
    <div class="content-container">
      <div> PUT LOGO HERE </div>
    </div>
  </div>
  <div class="col-4">
  <div class="content-container">
    <button class="btn btn-primary" id="login">@Html.ActionLink("Login", "Login", "Account")</button>
    <button class="btn btn-primary" id="register">@Html.ActionLink("Register", "Register", "Account")</button>
  </div>
</div>